body {
    background: url("https://pbs.twimg.com/media/C37yivfUoAAFpZA.jpg");
    background-size: cover;
}

.l-page, .l-top_menu-v2, .l-top_menu-v2 .global-search .search-results, .l-top_menu-v2 .global-search input, .l-top_menu-v2 .submenu {
    background: rgba(10, 7, 87, 0.5);
}

.b-feedback{

}

.l-page {
    margin: 15px auto 15px;
	border-radius: 15px;
    box-shadow: black;
}

.l-top_menu-v2 .menu-dropdown > span {
	background: rgba(10, 7, 87, 0.2);
}

.l-page .profile-head .c-brief .avatar>img {
    border-radius:  50%;
    transition: 1s;
}

.l-page .profile-head .c-brief .avatar>img:hover {
    border-radius: 0;
}

@keyframes nik_ani {
    from {
        text-shadow: darkblue 0 0 3px;
    }
    50%{
        text-shadow: blue 0 0 5px;
    }
    to{
        text-shadow: darkblue 0 0 3px;
    }

}

@keyframes anime_watch {
    from {
        transform: scaleX(1.0);
    }
    10%{
        transform: scaleX(1.05);
    }
    20% {
        transform: scaleX(1.1);
    }
    30% {
        transform: scaleX(1.125);
    }
    35% {
        transform: scaleX(1.15);
    }
    50% {
        transform: scaleX(1.2);
    }
    65% {
        transform: scaleX(1.15);
    }
    70% {
        transform: scaleX(1.125);
    }
    80% {
        transform: scaleX(1.1);
    }
    90%{
        transform: scaleX(1.05);
    }
    to {
        transform: scaleX(1.0);
    }
}

.c-left .b-stats_bar .bar .first:hover {
    animation: anime_watch 2s ease-in-out infinite;
}

.p-profiles .profile-head .c-brief header h1 {
    color: rgb(0,0,0);
    text-shadow: darkblue 0 0 3px;
    font-family: Dubai, sans-serif infinite;
}

.p-profiles .profile-head .c-brief header h1:hover{
    animation: nik_ani 2s ease-in-out;
}

.p-profiles-show .lifetime .bar {
    height: 7px;
}

.c-left .b-stats_bar .bar .first {
    background: rgba(19,16,236,0.77);
    border-radius: 4px 0 0 4px;
}

.b-stats_bar .bar .third {
    background: rgba(8,0,89,0.77);
    border-radius: 0 4px 4px 0;
}

.c-left .b-stats_bar .title {
    color: #0b0032;
}

.c-left .b-stats_bar .title .dotted{
	border-bottom: 0px
}

.p-profiles-show .b-stats_bar.lifetime .cuts .cut {
    border-radius: 50%;
    background: #00f2fa;
    width: 7px;
    height: 7px;
}