body {
    background: url("https://pbs.twimg.com/media/C37yivfUoAAFpZA.jpg");
    background-size: cover;
}

.l-page, .l-top_menu-v2, .l-top_menu-v2 .global-search .search-results, .l-top_menu-v2 .global-search input, .l-top_menu-v2 .submenu {
    background: rgba(10, 7, 87, 0.5);
}

.b-feedback{

}

.l-page {
    margin: 15px auto 15px;
	border-radius: 15px;
    box-shadow: black;
}

.l-top_menu-v2 .menu-dropdown > span {
	background: rgba(10, 7, 87, 0.2);
}